---
import Section from "@/components/Section.astro";
import LogsLayout from "@/layouts/LogsLayout.astro";
---

<LogsLayout title="Changelogs">
  <Section defaultClass="on" class="pt-20">
    <h1>Changelogs</h1>
    <p>v0.1.0</p>
    <p>v0.1.0</p>
    <p>v0.1.0</p>
    <p>v0.1.0</p>
    <p>v0.1.0</p>
    <p>v0.1.0</p>
  </Section>
</LogsLayout>
