---
interface Props {
  number?: string;
  id?: string;
}

const { number, id } = Astro.props
---

<div class="bg-gray-950 rounded-md p-4 flex flex-col md:flex-row items-start"  id={id??number}>
  {number && <p class="md:w-[75px] flex-shrink-0 font-bold text-gray-400 mb-2 md:mb-0">{number}</p>}
  <p class="text-gray-300">
    <slot />
  </p>
</div>
