---
interface Props {
  title: string;
  description?: string;
  id?: string
}

const { title, description, id } = Astro.props
---

<div class="bg-gray-900 rounded-md p-6" id={id??title}>
  <h1 class="text-4xl font-bold text-white mb-2">{title}</h1>
  {description && <p class="text-gray-400 mb-4">{description}</p>}
  <slot />
</div>
