---
import Monoline from '../../format/Monoline.astro' 
---

<div class="flex flex-col gap-3 md:flex-row">
  <!-- Columna central (contenido principal) -->
  <div class="flex flex-col gap-5 overflow-y-auto md:w-[70%]" style="height: calc(100vh - 100px);">
    <slot />
  </div>

  <!-- Columna derecha (índice/esquema de navegación) -->
  <div class="hidden md:block md:w-[30%]" style="height: calc(100vh - 100px);">
    <div class="flex flex-col gap-3">
      <div class="bg-gray-950 rounded-md p-6">

      </div>
      <div class="bg-gray-950 rounded-md p-6">
        <nav>
          <ul class="text-gray-400">
            <!-- Nivel 1 -->
            <li class="text-lg">
              <a href="#P" class="hover:text-white">Preámbulo</a>
            </li>
            <li class="pt-3 text-lg">
              <a href="#L" class="hover:text-white">Legal</a>
            </li>
            <li class="pt-3 text-lg">
              <a href="#D" class="hover:text-white">Reglas de Discord</a>
              <!-- Nivel 2 -->
              <ul class="ml-1 border-l-2 border-gray-700 pl-3">
                <li>
                  <a href="#D.1" class="hover:text-white text-base"><Monoline>D.1</Monoline> Términos de servicio</a>
                </li>
                <li>
                  <a href="#D.2" class="hover:text-white text-base"><Monoline>D.2</Monoline> Directrices de comunidad</a>
                </li>
              </ul>
            </li>
            <li class="pt-3 text-lg">
              <a href="#G" class="hover:text-white">Reglas generales</a>
              <ul class="ml-1 border-l-2 border-gray-700 pl-3">
                <li>
                  <a href="#G.1" class="hover:text-white text-base"><Monoline>G.1</Monoline> Idiomas</a>
                </li>
                <li>
                  <a href="#G.2" class="hover:text-white text-base"><Monoline>G.2</Monoline> Uso de canales</a>
                </li>
                <li>
                  <a href="#G.3" class="hover:text-white text-base"><Monoline>G.3</Monoline> Multicuentas</a>
                </li>
                <li>
                  <a href="#G.4" class="hover:text-white text-base"><Monoline>G.4</Monoline> Comportamiento</a>
                </li>
                <li>
                  <a href="#G.5" class="hover:text-white text-base"><Monoline>G.5</Monoline> Libertad de expresión</a>
                </li>
                <li>
                  <a href="#G.6" class="hover:text-white text-base"><Monoline>G.6</Monoline> Vocabulario</a>
                </li>
                <li>
                  <a href="#G.7" class="hover:text-white text-base"><Monoline>G.7</Monoline> Tu perfil</a>
                </li>
                <li>
                  <a href="#G.8" class="hover:text-white text-base"><Monoline>G.8</Monoline> SPAM y autopromoción</a>
                </li>
                <li>
                  <a href="#G.9" class="hover:text-white text-base"><Monoline>G.9</Monoline> Instrucciones del staff</a>
                </li>
              </ul>
            </li>
            <li class="pt-3 text-lg">
              <a href="#T" class="hover:text-white">Canales de texto</a>
            </li>
            <li class="pt-3 text-lg">
              <a href="#V" class="hover:text-white">Canales de voz</a>
            </li>
          </ul>
        </nav> 
      </div>
    </div>
  </div>
</div>
