---
import Section from "@/components/Section.astro";
import MainLayout from "@/layouts/MainLayout.astro";
---

<MainLayout title="Gatitos World">
  <Section
    defaultClass="on"
    class="flex flex-col items-center justify-center h-screen text-center gap-y-2"
  >
    <h1
      class="text-6xl md:text-9xl font-bold text-transparent bg-gradient-to-l from-cyan-500 to-white to-60% bg-clip-text"
    >
      404
    </h1>
    <p class="text-sm md:text-lg text-zinc-300">
      La página que acabas de buscar no existe...
    </p>
    <a
      href="/"
      class="px-4 py-2 transition-colors rounded-md bg-cyan-500 hover:bg-cyan-600"
      >Volver al inicio</a
    >
  </Section>
</MainLayout>
