---
import Section from "../Section.astro";
---

<Section defaultClass="on" class="mb-10">
  <div class="space-y-2 text-center text-balance">
    <h2 class="text-4xl font-semibold lg:text-5xl mb-5">
      Capit치n <span class="text-cyan-500">Gato</span> 游냠
    </h2>
    <p class="mb-5 text-lg text-zinc-300">
      춰Hola! Soy <strong class="text-cyan-500">Capit치n Gato</strong>, pero
      puedes llamarme Cap. Tengo 21 a침os, soy de Per칰 y cumplo a침os el 12 de
      enero. Suelo estar activo entre las 5 y 7 p.m. (hora Per칰) en adelante.
    </p>
    <p class="mb-5 text-lg text-zinc-300">
      Me encanta dormir, comer dulces, subir videos y hacer re칤r a mi comunidad.
      Aunque no siempre subo contenido seguido, me esfuerzo por ofrecer calidad.
      Si quieres m치s de m칤, p치sate por mi canal secundario,
      <strong class="text-cyan-500">Gato Capit치n</strong>. 游꿡
    </p>
  </div>
</Section>
