---
import Section from "../Section.astro";

const streamerName = "capitangatoo";
---

<Section defaultClass="on" class="flex items-center justify-center pt-20 mb-20">
  <iframe
    src={`https://player.twitch.tv/?channel=${streamerName}&parent=gatitosworld.com`}
    allowfullscreen="true"
    height="378"
    width="620"
    class="bg-[#a955f7c2]"
  >
  </iframe>
</Section>
