---
interface Props {
  title: string;
}

// Supports weights 100-900
import "@fontsource-variable/onest";
import "../styles/gradients.css";
import BgGradient from "@/components/BgGradient.astro";
import Header from "@/components/ui/Header.astro";

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Página web oficial de GatitosWorld. El servidor amante de los gatos, y de Capitán Gato." lang="es"/>
    <meta name="keywords" content="gatitos, gatitosworld, gw, capitangato, capitán, gato, capitángato, discord, servidor, server">
    <meta name="viewport" content="width=device-width" />
    <meta name="copyright" content="© 2024">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link
      rel="icon"
      type="image/svg+xml"
      href="favicon.svg"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <BgGradient />
    <Header />
    <div>
      <slot />
    </div>
  </body>
</html>
<style is:global>
  html {
    font-family:
      "Onest Variable",
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      "Open Sans",
      "Helvetica Neue",
      sans-serif;
    background-color: #000000;
    color-scheme: dark;
    overflow-x: hidden;
  }

  @keyframes bg-gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  ::-webkit-scrollbar {
    width: 10px;
    background: #000000;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #06b6d4;
  }
</style>
