---
import Badge from "../Badge.astro";
---

<header
  class="z-10 items-center justify-around hidden w-full p-2 bg-black/50 md:flex border-b-transparent md:px-0 md:py-4 backdrop-blur-lg"
>
  <div class="flex items-center gap-10">
    <div>
      <a href="/">
        <h2
          class="text-3xl font-bold text-transparent bg-gradient-to-l from-cyan-500 to-purple-600 to-60% bg-clip-text"
        >
          <img class="w-[40px] h-[40px]" src="/public/favicon.svg">
        </h2>
      </a>
    </div>
    <nav>
      <ul class="flex items-center gap-5">
        <li>
          <a
            href="/guide"
            class="transition-colors hover:text-cyan-500">Guía del servidor</a
          >
        </li>
        <li>
          <a
            href="https://discord.com/invite/gatitos"
            target="_blank"
            class="transition-colors hover:text-cyan-500">¡Únete a la comunidad!</a
          >
        </li>
        <!-- <li>
          <a href="" class="transition-colors hover:text-cyan-500">Otros</a>
        </li> -->
      </ul>
    </nav>
  </div>
  <Badge>v0.2.0 ✨</Badge>
</header>
